.markdown {
  color: #333;
  @apply text-base;

  blockquote,
  details,
  dl,
  ol,
  p,
  pre,
  table,
  h2,
  h3,
  ul {
    @apply mt-0;
    @apply mb-4;
  }

  ul,
  ol {
    p {
      @apply mb-2;
    }
  }

  h1 {
    display: none;
  }

  h2 {
    @apply text-xl;
    @apply pb-1;
    @apply border-b;
    @apply font-normal;
  }

  h3 {
    @apply text-lg;
    @apply font-normal;
  }

  blockquote {
    padding: 0 1em;
    @apply text-gray-500;
    @apply border-l-4;
    @apply border-gray-300;
  }

  ul {
    @apply pl-6;
    @apply list-disc;
  }

  a {
    @apply text-gray-500;
    @apply underline;
  }

  pre {
    @apply rounded-sm;
    @apply overflow-auto;
    @apply p-4;
    @apply text-sm;
    @apply bg-gray-100;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
  }

  table th {
    font-weight: 600;
  }

  table td,
  table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }

  table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }
}
